@import "tailwindcss";

@theme {
  --color-highlight1: #E1CA96;
  --color-highlight2: #ACA885;
  --color-highlight3: #918B76;
  --color-highlight4: #626C66;
  --color-highlight5: #434A42;
}

@custom-variant dark (&:is(.dark *));