@import "tailwindcss";

@theme {
  --color-highlight1: #2FA98F;
  --color-highlight2: #1C7FA6;
  --color-highlight3: #0F5EAB;
  --color-highlight4: #8A8374;
  --color-highlight5: #3A362E;
}

@custom-variant dark (&:is(.dark *));